<!doctype html>
<html lang="en">
{{template "head.html"}}
<body>
        <h1>Cursos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Horas</th>
                </tr>
            </thead>
            <tbod>
                {{ range . }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Price }}</td>
                </tr>
                {{ end }}
            </tbod>
        </table>
</body>
{{template "footer.html"}}
</html>